*{margin: 0;padding: 0;}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 2ch;
  font-weight: 400;

  color-scheme: light dark;
  color: #fef6e4;
  background-color: #172c66;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 2rem 1rem;
}

.btn {
  margin: 1px 2px;
  padding-block: 4px;
  padding-inline: 6px;
  border: #172c66 solid 2px;
  border-radius: 4px;
  font-weight: 700;
  background-color: #fef6e4;
}
.btn:hover {
  background-color: #f3d2c1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #172c66;
    background-color: #fef6e4;
  }
}
